In [2]:
%autosave 120

Welcome to the Glue Interactive Sessions Kernel
For more information on available magic commands, please type %help in any new cell.

Please view our Getting Started page to access the most up-to-date information on the Interactive Sessions kernel: https://docs.aws.amazon.com/glue/latest/dg/interactive-sessions.html
Installed kernel version: 1.0.7

Autosaving every 120 seconds

# PySpark Training Notebook
##### You are now running a AWS Glue Studio notebook; To start using your notebook you need to start an AWS Glue Interactive Session.

#### Optional: Run this cell to see available notebook commands ("magics").

In [3]:
#%help

####  Run this cell to set up and start your interactive session.

In [8]:
%idle_timeout 30
%glue_version 5.0
%worker_type G.1X
%number_of_workers 4

Current idle_timeout is None minutes.
idle_timeout has been set to 30 minutes.
Setting Glue version to: 5.0
Previous worker type: None
Setting new worker type to: G.1X
Previous number of workers: None
Setting new number of workers to: 3

In [10]:
%%configure
{
    "--enable-spark-ui": "true",
    "--spark-event-logs-path": "s3://dip-pyspark-training/spark_ui_tmp/",
    "--enable-metrics": "true",
    "--enable-observability-metrics": "true",
    "--conf": "spark.sql.ui.retainedExecutions=100",
    "--conf": "spark.sql.ui.retainedStages=100",
    "--conf": "spark.sql.codegen.comments=true"
}

The following configurations have been updated: {'--enable-spark-ui': 'true', '--spark-event-logs-path': 's3://dip-pyspark-training/spark_ui_tmp/', '--enable-metrics': 'true', '--enable-observability-metrics': 'true', '--conf': 'spark.sql.codegen.comments=true'}

In [1]:
import sys
from awsglue.transforms import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from awsglue.context import GlueContext
from awsglue.job import Job
  
sc = SparkContext.getOrCreate()
glueContext = GlueContext(sc)
spark = glueContext.spark_session
job = Job(glueContext)

Trying to create a Glue session for the kernel.
Session Type: glueetl
Worker Type: G.1X
Number of Workers: 3
Idle Timeout: 30
Session ID: 8c4a0016-6f30-452a-a956-637b30f693ce
Applying the following default arguments:
--glue_kernel_version 1.0.7
--enable-glue-datacatalog true
--enable-spark-ui true
--spark-event-logs-path s3://dip-pyspark-training/spark_ui_tmp/
--enable-metrics true
--enable-observability-metrics true
--conf spark.sql.codegen.comments=true
Waiting for session 8c4a0016-6f30-452a-a956-637b30f693ce to get into ready status...
Session 8c4a0016-6f30-452a-a956-637b30f693ce has been created.

### Get spark configuration

In [2]:
dynamic_allocation_enabled = spark.sparkContext.getConf().get('spark.dynamicAllocation.enabled')
dynamic_min_executors = spark.sparkContext.getConf().get('spark.dynamicAllocation.minExecutors')
dynamic_max_executors = spark.sparkContext.getConf().get('spark.dynamicAllocation.maxExecutors')
dynamic_initial_executors = spark.sparkContext.getConf().get('spark.dynamicAllocation.initialExecutors')

executor_instances = spark.sparkContext.getConf().get('spark.executor.instances')
executor_cores = spark.sparkContext.getConf().get('spark.executor.cores')
executor_memory = spark.sparkContext.getConf().get('spark.executor.memory')

driver_cores = spark.sparkContext.getConf().get('spark.driver.cores')
driver_memory = spark.sparkContext.getConf().get('spark.driver.memory')

print(f'''
Dynamic allocation enabled: {dynamic_allocation_enabled}
Dynamic min executors: {dynamic_min_executors}
Dynamic max executors: {dynamic_max_executors}
Dynamic initial executors: {dynamic_initial_executors}
----------------------------------------
Executor instances: {executor_instances}
Executor cores: {executor_cores}
Executor memory: {executor_memory}
----------------------------------------
Driver cores: {driver_cores}
Driver memory: {driver_memory}
''')

Dynamic allocation enabled: false
Dynamic min executors: 1
Dynamic max executors: 2
Dynamic initial executors: 3
----------------------------------------
Executor instances: 2
Executor cores: 4
Executor memory: 10g
----------------------------------------
Driver cores: 4
Driver memory: 10g

### Import libraries

In [3]:
import pyspark.sql.functions as F
import datetime

### Load data NY Taxi dataset

In [4]:
df = spark.read.format('parquet').load('s3://dip-pyspark-training/data/big/ny-taxi-dataset/')
p_df = spark.read.format('parquet').load('s3://dip-pyspark-training//data/big/ny-taxi-dataset-partitioned/')
#df.rdd.getNumPartitions()

In [11]:
#df.count()

In [12]:
#p_df.count()

In [ ]:
df.schema

In [6]:
#df.show()

+---------+-------------------+-------------------+---------------+-------------+----------------+---------------+------------+------------------+-----------------+----------------+------------+-----------+-----+-------+----------+------------+------------+
|vendor_id|    pickup_datetime|   dropoff_datetime|passenger_count|trip_distance|pickup_longitude|pickup_latitude|rate_code_id|store_and_fwd_flag|dropoff_longitude|dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|total_amount|
+---------+-------------------+-------------------+---------------+-------------+----------------+---------------+------------+------------------+-----------------+----------------+------------+-----------+-----+-------+----------+------------+------------+
|      VTS|2009-11-07 19:44:00|2009-11-07 19:49:00|              2|         0.74|      -73.992127|      40.734658|        NULL|              NULL|        -73.99197|       40.729115|        CASH|        4.5|  0.0|    0.5|       0.0|         0.0|         5.0|
|      VTS|2009-11-08 02:06:00|2009-11-08 02:12:00|              1|         1.04|      -74.008553|      40.719682|        NULL|              NULL|        -74.01615|       40.709963|        CASH|        5.7|  0.5|    0.5|       0.0|         0.0|         6.7|
|      VTS|2009-11-08 03:57:00|2009-11-08 04:09:00|              1|         4.05|      -74.007742|      40.717097|        NULL|              NULL|       -73.986758|       40.768467|        CASH|       11.7|  0.5|    0.5|       0.0|         0.0|        12.7|
|      VTS|2009-11-05 12:56:00|2009-11-05 12:58:00|              1|         0.33|      -73.992995|       40.71258|        NULL|              NULL|       -73.992995|        40.71258|        CASH|        3.3|  0.0|    0.5|       0.0|         0.0|         3.8|
|      VTS|2009-11-05 08:35:00|2009-11-05 08:41:00|              1|          0.6|       -74.00921|      40.712933|        NULL|              NULL|       -74.002663|       40.716882|        CASH|        4.5|  0.0|    0.5|       0.0|         0.0|         5.0|
|      VTS|2009-11-05 08:15:00|2009-11-05 08:24:00|              2|         1.37|       -74.00004|      40.719218|        NULL|              NULL|        -73.98615|        40.72989|      Credit|        6.5|  0.0|    0.5|       4.0|         0.0|        11.0|
|      VTS|2009-11-08 13:48:00|2009-11-08 14:02:00|              1|         3.03|       -73.99134|      40.730082|        NULL|              NULL|       -73.966448|        40.76754|        CASH|       10.5|  0.0|    0.5|       0.0|         0.0|        11.0|
|      VTS|2009-11-08 19:26:00|2009-11-08 19:38:00|              1|         2.32|      -73.997913|      40.716873|        NULL|              NULL|       -73.989532|       40.702203|        CASH|        8.5|  0.0|    0.5|       0.0|         0.0|         9.0|
|      VTS|2009-11-05 22:25:00|2009-11-05 22:40:00|              1|         4.35|      -74.008048|      40.723218|        NULL|              NULL|       -73.941077|       40.717713|        CASH|       13.7|  0.5|    0.5|       0.0|         0.0|        14.7|
|      VTS|2009-11-05 19:10:00|2009-11-05 19:18:00|              1|         1.63|      -74.000868|      40.733013|        NULL|              NULL|       -74.003182|       40.750095|        CASH|        6.9|  1.0|    0.5|       0.0|         0.0|         8.4|
|      VTS|2009-11-08 18:12:00|2009-11-08 18:22:00|              1|         2.14|      -73.996468|      40.723705|        NULL|              NULL|       -73.978422|       40.750948|      Credit|        8.1|  0.0|    0.5|       2.0|         0.0|        10.6|
|      VTS|2009-11-05 11:46:00|2009-11-05 12:07:00|              1|        11.34|      -74.009693|      40.703855|        NULL|              NULL|       -73.885265|         40.7709|      Credit|       26.1|  0.0|    0.5|       5.0|         0.0|        31.6|
|      VTS|2009-11-08 23:31:00|2009-11-08 23:43:00|              1|         5.06|      -73.993887|      40.681733|        NULL|              NULL|       -73.978903|        40.71375|        CASH|       13.7|  0.5|    0.5|       0.0|         0.0|        14.7|
|      VTS|2009-11-08 02:32:00|2009-11-08 02:40:00|              5|         1.16|      -74.004352|      40.730982|        NULL|              NULL|       -73.989567|       40.723233|      Credit|        6.5|  0.5|    0.5|       1.0|         0.0|         8.5|
|      VTS|2009-11-05 13:45:00|2009-11-05 14:03:00|              1|         3.74|      -74.008378|      40.714382|        NULL|              NULL|       -73.975542|        40.75576|      Credit|       12.5|  0.0|    0.5|       2.0|         0.0|        15.0|
|      VTS|2009-11-07 19:53:00|2009-11-07 20:05:00|              3|         2.05|      -74.009545|       40.71014|        NULL|              NULL|       -73.988218|       40.722012|        CASH|        8.1|  0.0|    0.5|       0.0|         0.0|         8.6|
|      VTS|2009-11-05 19:21:00|2009-11-05 19:23:00|              5|         0.44|      -73.999923|      40.730373|        NULL|              NULL|       -74.003215|       40.732828|        CASH|        3.7|  1.0|    0.5|       0.0|         0.0|         5.2|
|      VTS|2009-11-08 04:02:00|2009-11-08 04:09:00|              1|         1.48|      -73.991625|      40.722798|        NULL|              NULL|         -74.0064|       40.732785|        CASH|        6.9|  0.5|    0.5|       0.0|         0.0|         7.9|
|      VTS|2009-11-05 08:22:00|2009-11-05 08:28:00|              2|         0.86|      -74.004705|      40.723917|        NULL|              NULL|       -74.007175|       40.733275|        CASH|        5.3|  0.0|    0.5|       0.0|         0.0|         5.8|
|      VTS|2009-11-08 19:21:00|2009-11-08 19:42:00|              1|         4.19|      -74.006163|      40.733892|        NULL|              NULL|       -73.963665|       40.769308|        CASH|       14.1|  0.0|    0.5|       0.0|         0.0|        14.6|
+---------+-------------------+-------------------+---------------+-------------+----------------+---------------+------------+------------------+-----------------+----------------+------------+-----------+-----+-------+----------+------------+------------+
only showing top 20 rows

In [11]:
#df.filter(F.col('vendor_id') == 'VTS').explain(True)

In [6]:
df2 = df.withColumn('surcharge_amount', F.col('total_amount') * 0.1)

In [7]:
df3 = df2.withColumn('is_long_trip', F.col('trip_distance') > 10)

In [8]:
df4 = df3.withColumn('trip_category', F.when(F.col('passenger_count') <= 2, F.lit('small group')).when(F.col('passenger_count') <= 4, F.lit('medium group')).otherwise(F.lit('big group')))

In [9]:
df5 = df4.filter(F.col('vendor_id') == 'VTS')

In [12]:
df6 = df5.select(['vendor_id', 'total_amount', 'surcharge_amount', 'trip_distance', 'is_long_trip', 'passenger_count', 'trip_category'])

In [11]:
df6.count()

513853109

In [14]:
df6.explain(True)

== Parsed Logical Plan ==
'Project ['vendor_id, 'total_amount, 'surcharge_amount, 'trip_distance, 'is_long_trip, 'passenger_count, 'trip_category]
+- Filter (vendor_id#0 = VTS)
   +- Project [vendor_id#0, pickup_datetime#1, dropoff_datetime#2, passenger_count#3, trip_distance#4, pickup_longitude#5, pickup_latitude#6, rate_code_id#7, store_and_fwd_flag#8, dropoff_longitude#9, dropoff_latitude#10, payment_type#11, fare_amount#12, extra#13, mta_tax#14, tip_amount#15, tolls_amount#16, total_amount#17, surcharge_amount#72, is_long_trip#93, CASE WHEN (passenger_count#3 <= 2) THEN small group WHEN (passenger_count#3 <= 4) THEN medium group ELSE big group END AS trip_category#114]
      +- Project [vendor_id#0, pickup_datetime#1, dropoff_datetime#2, passenger_count#3, trip_distance#4, pickup_longitude#5, pickup_latitude#6, rate_code_id#7, store_and_fwd_flag#8, dropoff_longitude#9, dropoff_latitude#10, payment_type#11, fare_amount#12, extra#13, mta_tax#14, tip_amount#15, tolls_amount#16, total_amount#17, surcharge_amount#72, (trip_distance#4 > cast(10 as double)) AS is_long_trip#93]
         +- Project [vendor_id#0, pickup_datetime#1, dropoff_datetime#2, passenger_count#3, trip_distance#4, pickup_longitude#5, pickup_latitude#6, rate_code_id#7, store_and_fwd_flag#8, dropoff_longitude#9, dropoff_latitude#10, payment_type#11, fare_amount#12, extra#13, mta_tax#14, tip_amount#15, tolls_amount#16, total_amount#17, (total_amount#17 * 0.1) AS surcharge_amount#72]
            +- Relation [vendor_id#0,pickup_datetime#1,dropoff_datetime#2,passenger_count#3,trip_distance#4,pickup_longitude#5,pickup_latitude#6,rate_code_id#7,store_and_fwd_flag#8,dropoff_longitude#9,dropoff_latitude#10,payment_type#11,fare_amount#12,extra#13,mta_tax#14,tip_amount#15,tolls_amount#16,total_amount#17] parquet

== Analyzed Logical Plan ==
vendor_id: string, total_amount: double, surcharge_amount: double, trip_distance: double, is_long_trip: boolean, passenger_count: int, trip_category: string
Project [vendor_id#0, total_amount#17, surcharge_amount#72, trip_distance#4, is_long_trip#93, passenger_count#3, trip_category#114]
+- Filter (vendor_id#0 = VTS)
   +- Project [vendor_id#0, pickup_datetime#1, dropoff_datetime#2, passenger_count#3, trip_distance#4, pickup_longitude#5, pickup_latitude#6, rate_code_id#7, store_and_fwd_flag#8, dropoff_longitude#9, dropoff_latitude#10, payment_type#11, fare_amount#12, extra#13, mta_tax#14, tip_amount#15, tolls_amount#16, total_amount#17, surcharge_amount#72, is_long_trip#93, CASE WHEN (passenger_count#3 <= 2) THEN small group WHEN (passenger_count#3 <= 4) THEN medium group ELSE big group END AS trip_category#114]
      +- Project [vendor_id#0, pickup_datetime#1, dropoff_datetime#2, passenger_count#3, trip_distance#4, pickup_longitude#5, pickup_latitude#6, rate_code_id#7, store_and_fwd_flag#8, dropoff_longitude#9, dropoff_latitude#10, payment_type#11, fare_amount#12, extra#13, mta_tax#14, tip_amount#15, tolls_amount#16, total_amount#17, surcharge_amount#72, (trip_distance#4 > cast(10 as double)) AS is_long_trip#93]
         +- Project [vendor_id#0, pickup_datetime#1, dropoff_datetime#2, passenger_count#3, trip_distance#4, pickup_longitude#5, pickup_latitude#6, rate_code_id#7, store_and_fwd_flag#8, dropoff_longitude#9, dropoff_latitude#10, payment_type#11, fare_amount#12, extra#13, mta_tax#14, tip_amount#15, tolls_amount#16, total_amount#17, (total_amount#17 * 0.1) AS surcharge_amount#72]
            +- Relation [vendor_id#0,pickup_datetime#1,dropoff_datetime#2,passenger_count#3,trip_distance#4,pickup_longitude#5,pickup_latitude#6,rate_code_id#7,store_and_fwd_flag#8,dropoff_longitude#9,dropoff_latitude#10,payment_type#11,fare_amount#12,extra#13,mta_tax#14,tip_amount#15,tolls_amount#16,total_amount#17] parquet

== Optimized Logical Plan ==
Project [vendor_id#0, total_amount#17, (total_amount#17 * 0.1) AS surcharge_amount#72, trip_distance#4, (trip_distance#4 > 10.0) AS is_long_trip#93, passenger_count#3, CASE WHEN (passenger_count#3 <= 2) THEN small group WHEN (passenger_count#3 <= 4) THEN medium group ELSE big group END AS trip_category#114]
+- Filter (isnotnull(vendor_id#0) AND (vendor_id#0 = VTS))
   +- Relation [vendor_id#0,pickup_datetime#1,dropoff_datetime#2,passenger_count#3,trip_distance#4,pickup_longitude#5,pickup_latitude#6,rate_code_id#7,store_and_fwd_flag#8,dropoff_longitude#9,dropoff_latitude#10,payment_type#11,fare_amount#12,extra#13,mta_tax#14,tip_amount#15,tolls_amount#16,total_amount#17] parquet

== Physical Plan ==
*(1) Project [vendor_id#0, total_amount#17, (total_amount#17 * 0.1) AS surcharge_amount#72, trip_distance#4, (trip_distance#4 > 10.0) AS is_long_trip#93, passenger_count#3, CASE WHEN (passenger_count#3 <= 2) THEN small group WHEN (passenger_count#3 <= 4) THEN medium group ELSE big group END AS trip_category#114]
+- *(1) Filter (isnotnull(vendor_id#0) AND (vendor_id#0 = VTS))
   +- *(1) ColumnarToRow
      +- FileScan parquet [vendor_id#0,passenger_count#3,trip_distance#4,total_amount#17] Batched: true, DataFilters: [isnotnull(vendor_id#0), (vendor_id#0 = VTS)], Format: Parquet, Location: InMemoryFileIndex(1 paths)[s3://dip-pyspark-training/data/big/ny-taxi-dataset], PartitionFilters: [], PushedFilters: [IsNotNull(vendor_id), EqualTo(vendor_id,VTS)], ReadSchema: struct<vendor_id:string,passenger_count:int,trip_distance:double,total_amount:double>

In [15]:
df6.show()

+---------+------------+------------------+-------------+------------+---------------+-------------+
|vendor_id|total_amount|  surcharge_amount|trip_distance|is_long_trip|passenger_count|trip_category|
+---------+------------+------------------+-------------+------------+---------------+-------------+
|      VTS|         5.0|               0.5|         0.74|       false|              2|  small group|
|      VTS|         6.7|              0.67|         1.04|       false|              1|  small group|
|      VTS|        12.7|              1.27|         4.05|       false|              1|  small group|
|      VTS|         3.8|              0.38|         0.33|       false|              1|  small group|
|      VTS|         5.0|               0.5|          0.6|       false|              1|  small group|
|      VTS|        11.0|               1.1|         1.37|       false|              2|  small group|
|      VTS|        11.0|               1.1|         3.03|       false|              1|  small group|
|      VTS|         9.0|               0.9|         2.32|       false|              1|  small group|
|      VTS|        14.7|              1.47|         4.35|       false|              1|  small group|
|      VTS|         8.4|0.8400000000000001|         1.63|       false|              1|  small group|
|      VTS|        10.6|              1.06|         2.14|       false|              1|  small group|
|      VTS|        31.6|              3.16|        11.34|        true|              1|  small group|
|      VTS|        14.7|              1.47|         5.06|       false|              1|  small group|
|      VTS|         8.5|0.8500000000000001|         1.16|       false|              5|    big group|
|      VTS|        15.0|               1.5|         3.74|       false|              1|  small group|
|      VTS|         8.6|              0.86|         2.05|       false|              3| medium group|
|      VTS|         5.2|              0.52|         0.44|       false|              5|    big group|
|      VTS|         7.9|              0.79|         1.48|       false|              1|  small group|
|      VTS|         5.8|              0.58|         0.86|       false|              2|  small group|
|      VTS|        14.6|              1.46|         4.19|       false|              1|  small group|
+---------+------------+------------------+-------------+------------+---------------+-------------+
only showing top 20 rows

In [16]:
ts = datetime.datetime.now()
output_file_path = 's3://dip-pyspark-training/output/dummy-output-01'
df6.write.mode('overwrite').format('parquet').save('s3://dip-pyspark-training/output/dummy-output-01')
pt = (datetime.datetime.now() - ts).seconds
print(f'The processing time was {pt} seconds')

The processing time was 123 seconds

In [29]:
c_non_partitioned = spark.read.format('parquet').load(output_file_path).count()
c_non_partitioned

513853109

### Using a partitioned source

In [20]:
p_df2 = p_df.withColumn('surcharge_amount', F.col('total_amount') * 0.1)
p_df3 = p_df2.withColumn('is_long_trip', F.col('trip_distance') > 10)
p_df4 = p_df3.withColumn('trip_category', F.when(F.col('passenger_count') <= 2, F.lit('small group')).when(F.col('passenger_count') <= 4, F.lit('medium group')).otherwise(F.lit('big group')))
p_df5 = p_df4.filter(F.col('vendor_id') == 'VTS')
p_df6 = p_df5.select(['vendor_id', 'total_amount', 'surcharge_amount', 'trip_distance', 'is_long_trip', 'passenger_count', 'trip_category'])

In [21]:
p_df6.explain(True)

== Parsed Logical Plan ==
'Project ['vendor_id, 'total_amount, 'surcharge_amount, 'trip_distance, 'is_long_trip, 'passenger_count, 'trip_category]
+- Filter (vendor_id#53 = VTS)
   +- Project [pickup_datetime#36, dropoff_datetime#37, passenger_count#38, trip_distance#39, pickup_longitude#40, pickup_latitude#41, rate_code_id#42, store_and_fwd_flag#43, dropoff_longitude#44, dropoff_latitude#45, payment_type#46, fare_amount#47, extra#48, mta_tax#49, tip_amount#50, tolls_amount#51, total_amount#52, vendor_id#53, surcharge_amount#378, is_long_trip#399, CASE WHEN (passenger_count#38 <= 2) THEN small group WHEN (passenger_count#38 <= 4) THEN medium group ELSE big group END AS trip_category#420]
      +- Project [pickup_datetime#36, dropoff_datetime#37, passenger_count#38, trip_distance#39, pickup_longitude#40, pickup_latitude#41, rate_code_id#42, store_and_fwd_flag#43, dropoff_longitude#44, dropoff_latitude#45, payment_type#46, fare_amount#47, extra#48, mta_tax#49, tip_amount#50, tolls_amount#51, total_amount#52, vendor_id#53, surcharge_amount#378, (trip_distance#39 > cast(10 as double)) AS is_long_trip#399]
         +- Project [pickup_datetime#36, dropoff_datetime#37, passenger_count#38, trip_distance#39, pickup_longitude#40, pickup_latitude#41, rate_code_id#42, store_and_fwd_flag#43, dropoff_longitude#44, dropoff_latitude#45, payment_type#46, fare_amount#47, extra#48, mta_tax#49, tip_amount#50, tolls_amount#51, total_amount#52, vendor_id#53, (total_amount#52 * 0.1) AS surcharge_amount#378]
            +- Relation [pickup_datetime#36,dropoff_datetime#37,passenger_count#38,trip_distance#39,pickup_longitude#40,pickup_latitude#41,rate_code_id#42,store_and_fwd_flag#43,dropoff_longitude#44,dropoff_latitude#45,payment_type#46,fare_amount#47,extra#48,mta_tax#49,tip_amount#50,tolls_amount#51,total_amount#52,vendor_id#53] parquet

== Analyzed Logical Plan ==
vendor_id: string, total_amount: double, surcharge_amount: double, trip_distance: double, is_long_trip: boolean, passenger_count: int, trip_category: string
Project [vendor_id#53, total_amount#52, surcharge_amount#378, trip_distance#39, is_long_trip#399, passenger_count#38, trip_category#420]
+- Filter (vendor_id#53 = VTS)
   +- Project [pickup_datetime#36, dropoff_datetime#37, passenger_count#38, trip_distance#39, pickup_longitude#40, pickup_latitude#41, rate_code_id#42, store_and_fwd_flag#43, dropoff_longitude#44, dropoff_latitude#45, payment_type#46, fare_amount#47, extra#48, mta_tax#49, tip_amount#50, tolls_amount#51, total_amount#52, vendor_id#53, surcharge_amount#378, is_long_trip#399, CASE WHEN (passenger_count#38 <= 2) THEN small group WHEN (passenger_count#38 <= 4) THEN medium group ELSE big group END AS trip_category#420]
      +- Project [pickup_datetime#36, dropoff_datetime#37, passenger_count#38, trip_distance#39, pickup_longitude#40, pickup_latitude#41, rate_code_id#42, store_and_fwd_flag#43, dropoff_longitude#44, dropoff_latitude#45, payment_type#46, fare_amount#47, extra#48, mta_tax#49, tip_amount#50, tolls_amount#51, total_amount#52, vendor_id#53, surcharge_amount#378, (trip_distance#39 > cast(10 as double)) AS is_long_trip#399]
         +- Project [pickup_datetime#36, dropoff_datetime#37, passenger_count#38, trip_distance#39, pickup_longitude#40, pickup_latitude#41, rate_code_id#42, store_and_fwd_flag#43, dropoff_longitude#44, dropoff_latitude#45, payment_type#46, fare_amount#47, extra#48, mta_tax#49, tip_amount#50, tolls_amount#51, total_amount#52, vendor_id#53, (total_amount#52 * 0.1) AS surcharge_amount#378]
            +- Relation [pickup_datetime#36,dropoff_datetime#37,passenger_count#38,trip_distance#39,pickup_longitude#40,pickup_latitude#41,rate_code_id#42,store_and_fwd_flag#43,dropoff_longitude#44,dropoff_latitude#45,payment_type#46,fare_amount#47,extra#48,mta_tax#49,tip_amount#50,tolls_amount#51,total_amount#52,vendor_id#53] parquet

== Optimized Logical Plan ==
Project [vendor_id#53, total_amount#52, (total_amount#52 * 0.1) AS surcharge_amount#378, trip_distance#39, (trip_distance#39 > 10.0) AS is_long_trip#399, passenger_count#38, CASE WHEN (passenger_count#38 <= 2) THEN small group WHEN (passenger_count#38 <= 4) THEN medium group ELSE big group END AS trip_category#420]
+- Filter (isnotnull(vendor_id#53) AND (vendor_id#53 = VTS))
   +- Relation [pickup_datetime#36,dropoff_datetime#37,passenger_count#38,trip_distance#39,pickup_longitude#40,pickup_latitude#41,rate_code_id#42,store_and_fwd_flag#43,dropoff_longitude#44,dropoff_latitude#45,payment_type#46,fare_amount#47,extra#48,mta_tax#49,tip_amount#50,tolls_amount#51,total_amount#52,vendor_id#53] parquet

== Physical Plan ==
*(1) Project [vendor_id#53, total_amount#52, (total_amount#52 * 0.1) AS surcharge_amount#378, trip_distance#39, (trip_distance#39 > 10.0) AS is_long_trip#399, passenger_count#38, CASE WHEN (passenger_count#38 <= 2) THEN small group WHEN (passenger_count#38 <= 4) THEN medium group ELSE big group END AS trip_category#420]
+- *(1) ColumnarToRow
   +- FileScan parquet [passenger_count#38,trip_distance#39,total_amount#52,vendor_id#53] Batched: true, DataFilters: [], Format: Parquet, Location: InMemoryFileIndex(1 paths)[s3://dip-pyspark-training/data/big/ny-taxi-dataset-partitioned], PartitionFilters: [isnotnull(vendor_id#53), (vendor_id#53 = VTS)], PushedFilters: [], ReadSchema: struct<passenger_count:int,trip_distance:double,total_amount:double>

In [33]:
ts = datetime.datetime.now()
output_file_path = 's3://dip-pyspark-training/output/dummy-output-02'
p_df6.write.mode('overwrite').format('parquet').save(output_file_path)
p_pt = (datetime.datetime.now() - ts).seconds
print(f'The processing time was {p_pt} seconds')

The processing time was 102 seconds

In [34]:
c_partitioned = spark.read.format('parquet').load(output_file_path).count()
c_partitioned

513853109

In [35]:
assert c_non_partitioned == c_partitioned

In [36]:
d = round(100 * (pt - p_pt)/p_pt, 2)
print(f'Using the partitioned source was {d}% faster than the non-partitioned one.')

Using the partitioned source was 20.59% faster than the non-partitioned one.

In [23]:
df.count()

1611611035

In [24]:
p_df.count()

1611611035